body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #3c3c3c;
  background-color: #eee;
  margin: 21px;
  height: 100%;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0 !important;
}

a {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: 'Rambla', sans-serif;
  font-style: italic;
  font-size: 28px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 !important;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

/* login/signup form pages */

#account {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-image: url('./images/starfleetacademy-small.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

#account header {
  text-align: center;
  display: block;
}

#account header h1 {
  color: #FFDA57;
  font-size: 28px;
  font-style: normal;
}

#account header h3 {
  color: #19395F;
  font-size: 18px;
}

.accountForm {
  text-align: center;
  margin-bottom: 72px;
}

.signup {
  margin-bottom: 0;
}

#signupLink {
  color: white;
  margin: 8px 0 0 16px !important;
  padding: 8px 0;
  font-size: 14px;
  float: left;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border: 0;
  border-radius: 8px;
  padding: 8px;
  opacity: 80%;
  margin: 0 0 8px 0;
  width: 250px;
  color: black;
  font-family: 'Open Sans', sans-sans-serif;
}

input[type="submit"] {
  background-color: #19395F;
  color: white;
  border: 0;
  border-radius: 8px;
  padding: 8px 21px;
  margin-top: 8px;
  float: right;
  font-size: 14px;
  font-family: 'Open Sans', sans-sans-serif;
}

input[type="submit"]:disabled {
  opacity: 75%;
}

input:focus {
  outline: none !important;
  border: 1px lightblue;
  box-shadow: 0 0 5px;
}

input::placeholder {
  color: black;
  opacity: 80%;
}

form label {
  font-size: 14px;
  display: block;
  text-align: left;
  padding: 0 16px;
  font-weight: 600;
  color: white;
}

/* header user display name */

#user {
  display: inline;
  float: right;
}

#user p {
  display: inline;
  margin-right: 10px;
}

/* dashboard */

.card {
  background-color: white;
  border-radius: 8px;
  padding: 8px;
}

.container {
  margin-bottom: 16px;
}

.subtext {
  margin: 0 !important;
  text-align: right;
  padding: 8px 8px 0 0;
  text-decoration: underline;
}

#trackerContainer .subtext {
  font-style: italic;
  text-decoration: none;
}

#comms {
  border-top: 21px solid #23729B;
}

#tracker {
  border-top: 21px solid #A11A20;
}

#studentInfo {
  border-top: 21px solid #EAD075;
}

#student-ID,
#student-rank {
  display: inline;
  padding-right: 12px;
}

#studentInfo b {
  padding-right: 4px;
}

#messages {
  font-size: 14px;
  line-height: 16px;
}

#messages p,
#messages h4 {
  margin: 0 !important;
  padding-bottom: 6px;
}

/* courses */

#course {
  border-radius: 8px;
  border-right: 8px solid #A11A20; /* after adding data from fb, programatically decide course color based on category */
  border-left: 8px solid #A11A20;
  margin: 16px 8px;
}

#course:first-child {
  margin-top: 8px;
}

#course:last-child {
  margin-bottom: 8px;
}

#course ul {
  padding: 8px;
}

#course h4 {
  font-weight: normal;
}

.courseLevel,
.courseTitle {
  display: inline;
  padding-right: 8px;
  font-size: 16px;
}

.commInstructor {
  color: #4b4b4b;
  text-decoration: underline;
  text-align: right;
}

hgroup {
  margin-top: 8px;
  padding-left: 16px;
}

hgroup h5 {
  font-weight: normal;
  font-style: italic;
}

/* tracker */

#tracker progress {
  width: 100%;
  height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}

@media (min-width: 700px) {
  body {
    margin: 64px;
    font-size: 16px;
  }

  header {
    margin-bottom: 48px;
  }

  h1 {
    font-size: 32px;
  }

  /* dashboard - grid layout */

  main {
    display: grid;
    grid-template-columns: 15% auto;
  }

  header {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    grid-column: 1;
  }

  #cardContainer {
    display: grid;
    grid-template-columns: 30% auto auto 30%;
    grid-template-rows: auto auto max-content auto;
    gap: 1px 21px;
  }

  #commsContainer,
  #weatherContainer {
    grid-column: 1 / span 1;
  }

  #scheduleContainer {
    grid-column: 2 / span 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: white;
  }

  #coursesContainer {
    grid-column: 1 / span 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }
}

@media (min-width: 1000px) {
  /* courses 2 column layout */
  #courses {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px 16px;
    padding: 16px;
  }

  #course {
    margin: 0;
  }

  #course:first-child,
  #course:last-child {
    margin: 0;
  }

  hgroup {
    grid-column: 1 / span 2;
    margin: 8px 0;
  }
}

@media (min-width: 2200px) {

}
