body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1 {
  font-family: 'Rambla', sans-serif;
  font-style: italic;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

header h1 {
  display: inline;
}

#user {
  display: inline;
  float: right;
}

#user p {
  display: inline;
  margin-right: 10px;
}
