body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #3c3c3c;
  background-color: #eee;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: 'Rambla', sans-serif;
  font-style: italic;
}

header h1 {
  display: inline;
}

#user {
  display: inline;
  float: right;
}

#user p {
  display: inline;
  margin-right: 10px;
}

@media (min-width: 700px) {
  body {
    margin: 64px;
  }
}
